.body{

}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid{
 
    border: 2px solid black;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    display: flex;
}
.grid div{
    height: 40px;
    width: 40px
}
.snake{
    background-color: blue;
}
.apple{
    background-color: red;
}